<!--
Copyright (c) 2020, Daniel Kraemer
All rights reserved.
Licensed under BSD-3-clause (https://github.com/dkraemer/calcsubnet/blob/master/LICENSE)
-->

<form class="border rounded p-2">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="ip-address">IP address</label>
            <div class="input-group">
                <input id="ip-address" type="text" class="form-control @_inputIpAddressCssClass" @oninput="OnInputIpAddress" placeholder="Please enter address..."/>
            </div>
        </div>
        <div class="col-auto">
            <label for="prefix-length">Prefix length</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">/</div>
                </div>
                <select id="prefix-length" class="custom-select" @bind="SelectedPrefixLength">
                    @foreach (var subnetMask in _subnetMasks)
                    {
                        <option value="@subnetMask.PrefixLength">@subnetMask.PrefixLength</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-auto">
            <label for="subnet-mask">Subnet mask</label>
            <div class="input-group">
                <select id="subnet-mask" class="custom-select" @bind="SelectedPrefixLength">
                    @foreach (var subnetMask in _subnetMasks)
                    {
                        <option value="@subnetMask.PrefixLength">@subnetMask.ToString()</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-auto">
            <label for="useable-host-address-count">Usable addresses</label>
            <div class="input-group">
                <select id="useable-host-address-count" class="custom-select" @bind="SelectedPrefixLength">
                    @foreach (var subnetMask in _subnetMasks)
                    {
                        <option value="@subnetMask.PrefixLength">@subnetMask.UsableHostAddressCount @subnetMask.HostAddressRemark</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>
