<!--
Copyright (c) 2020, Daniel Kraemer
All rights reserved.
Licensed under BSD-3-clause (https://github.com/dkraemer/calcsubnet/blob/master/LICENSE)
-->

<form class="border rounded p-2">
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="ipaddress">IP address</label>
            <div class="input-group">
                <input id="ipaddress" type="text" class="form-control @InputIpAddressCss" @oninput="OnInputIpAddress" placeholder="192.168.255.254"/>
            </div>
        </div>
        <div class="col-auto">
            <label for="subnetbits">Network bits</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">/</div>
                </div>
                <select id="subnetbits" class="custom-select" @bind="SelectedNetworkBitCount">
                    @foreach (var subnetMask in SubnetMasks)
                    {
                        <option value="@subnetMask.PrefixLength">@subnetMask.PrefixLength</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-auto">
            <label for="subnetmask">Subnet mask</label>
            <div class="input-group">
                <select id="subnetmask" class="custom-select" @bind="SelectedNetworkBitCount">
                    @foreach (var subnetMask in SubnetMasks)
                    {
                        <option value="@subnetMask.PrefixLength">@subnetMask.ToString()</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-auto">
            <label for="useableHosts">Usable addresses</label>
            <div class="input-group">
                <select id="useableHosts" class="custom-select" @bind="SelectedNetworkBitCount">
                    @foreach (var subnetMask in SubnetMasks)
                    {
                        <option value="@subnetMask.PrefixLength">@subnetMask.UsableHostAddressCount @subnetMask.HostAddressRemark</option>
                    }
                </select>
            </div>
        </div>
    </div>
</form>
